:root {  
  --rosa: #FF8AB3;        
  --verde: #42CF8C;       
  --gris: #EEEEEE;        
  --blanco: #ffffff;      
  --negro: #000000;       
  --gris-oscuro: #999999; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}



/* PÁGINA INICIAL */

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: var(--blanco);
  color: var(--negro);
  margin: 0;
  padding: 0;
}


.barra {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  height: 70px;
  border-bottom: 1px solid var(--gris);
  background-color: var(--blanco);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: all 0.4s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}


.nav-left {
  display: flex;
  align-items: center;
  gap: 30px;
}

.logo img {
  height: 15px;
  width: auto;
  display: block;
}

.menu {
  list-style: none;
  display: flex;
  gap: 20px;
}

.menu a {
  text-decoration: none;
  color: var(--negro);
  font-weight: 500;
  font-size: 0.95rem;
  position: relative;
  transition: all 0.3s ease;
}

.menu a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background-color: var(--negro);
  transition: width 0.3s ease;
}

.menu a:hover {
  color: var(--rosa);
  font-weight: 700;
}

.menu a:hover::after {
  width: 100%;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.languages a {
  text-decoration: none;
  color: var(--negro);
  margin: 0 5px;
  position: relative;
  transition: all 0.3s ease;
}

.languages a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0%;
  height: 1px;
  background-color: var(--negro);
  transition: width 0.3s ease;
}

.languages a:hover {
  color: var(--rosa);
  font-weight: 700;
}

.languages a:hover::after {
  width: 100%;
}

.newsletter-btn {
  background-color: var(--blanco);
  border: 1px solid var(--negro);
  border-radius: 25px;
  padding: 8px 20px;
  font-size: 0.85rem;
  cursor: pointer;
  transition: 0.3s ease;
  color: var(--negro);
  display: flex;
  align-items: center;
  justify-content: center;
}

.newsletter-btn:hover {
  background-color: var(--negro);
  color: var(--blanco);
}

.light-btn {
  background-color: var(--blanco);
  border: 1px solid var(--negro);
  border-radius: 20px;
  padding: 5px 20px;
  font-size: 0.85rem;
  cursor: pointer;
  transition: 0.3s ease;
  color: var(--negro);
  display: flex;
  align-items: center;
  justify-content: center;
}

.light-btn i {
  font-size: 1.3rem;
}

.light-btn:hover {
  background-color: var(--negro);
  color: var(--blanco);
}

.burger {
  display: none;
  font-size: 1.6rem;
  cursor: pointer;
  color: var(--negro);
}



.mobile-menu {
  display: none;
  flex-direction: column;
  background-color: var(--blanco);
  position: absolute;
  top: 70px;
  right: 0;
  width: 100%;
  border-top: 1px solid var(--gris);
  padding: 20px 0;
  text-align: center;
  z-index: 900;
}

.mobile-menu ul {
  list-style: none;
}

.mobile-menu li {
  margin: 15px 0;
}

.mobile-menu a {
  color: var(--negro);
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
}

.mobile-menu.active {
  display: flex;
}



body {
  padding-top: 70px;
  margin: 0;
}

.countdown {
  background-color: var(--rosa);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  padding: 0;
  margin: 0; 
  color: var(--blanco);
  text-align: center;
  width: 100%;
}

.count-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

.count-item .number {
  font-size: 2.5rem;
  font-weight: 700;
}

.count-item .label {
  font-size: 0.9rem;
  font-weight: 500;
  margin-top: 5px;
}

.cabecero {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blanco);
  overflow: hidden; /* evita desbordes */
}

.cabecero img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
}

.hero {
  width: 100%;
  height: calc(100vh - 70px); 
  overflow: hidden;
  background-color: var(--gris);
  position: relative;
  margin: 0;
  padding: 0;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
  max-height: 100vh;
}






/* CATEGORÍAS DEBAJO DE LA IMAGEN */

.categories { 
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  overflow: hidden;
  padding: 0;
  margin: 30px 0px 0px 0px;
  gap: 30px;
}

.category {
  width: 100vw; /* ocupa TODO el ancho de la ventana */
  height: 15vh; /* alto grande y consistente */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem; /* texto enorme */
  font-weight: 600;
  color: var(--blanco);
  text-transform: uppercase;
  opacity: 0; /* invisible hasta que aparece */
  transform: translateX(0);
  animation-duration: 2s; /* lenta y elegante */
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  margin: 0;
  border: none;
  padding: 0 60px; /* espacio lateral para respirar */
}

.category {
  position: relative;
  overflow: hidden;
  text-decoration: none;
  cursor: pointer;

}


.category::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(255,255,255,0.2);
  transform: translateX(-100%);
  transition: transform 0.6s ease;
}

.category:hover::before {
  transform: translateX(0);
}


/* Colores planos (sin degradados) */
.category.green {
  background-color: var(--verde);
  animation-name: slideInRight;
  justify-content: flex-start; /* texto alineado a la izquierda */
  text-align: left;
}

.category.pink {
  background-color: var(--rosa);
  animation-name: slideInLeft;
  justify-content: flex-end; /* texto alineado a la derecha */
  text-align: right;
}

.logo-movimiento { 
  position: relative;
  width: 100%;
  overflow: hidden;
  background-color: var(--blanco);
  padding: 100px 40px 50px 40px;
}

.video-logo {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
   pointer-events: none; /* Evita que se pueda pinchar */
  
}


/* Línea negra */
.linea-negra {
    height: 15px;
    background-color: black;
    margin: 40px 40px 40px;
}

/* Contenedor de palabras */
.palabras-container {
    width: 100%;
    padding: 0px 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 0px;
}

/* Cada línea de palabras */
.linea {
    display: flex;
    flex-wrap: wrap;
}

/* Alineación por línea */
.linea-left { justify-content: flex-start; }
.linea-center { justify-content: center; }
.linea-right { justify-content: flex-end; }
.linea-space { justify-content: space-between; }

/* Palabras */
.palabra {
    font-size: 60px;
    font-weight: bold;
    color: var(--negro);
    white-space: nowrap;
    max-width: 100%;        
    overflow: hidden;
    text-overflow: ellipsis; 
    transition: color 0.1s ease, transform 0.25s ease;
    cursor: pointer;
}

/* Color base al hacer hover — todas cambian */
.palabra:hover {
  transform: scale(1.05);
}

/* 1ª línea */
.linea:nth-child(1) .palabra:nth-child(1):hover { color: var(--rosa); }    /* AMAIA */
.linea:nth-child(1) .palabra:nth-child(2):hover { color: var(--verde); }   /* HOKE */
.linea:nth-child(1) .palabra:nth-child(3):hover { color: var(--verde); }   /* JUDELINE */
.linea:nth-child(2) .palabra:nth-child(1):hover { color: var(--rosa); }    /* RALPHIE CHOO */
.linea:nth-child(3) .palabra:nth-child(1):hover { color: var(--verde); }   /* AMORE */
.linea:nth-child(3) .palabra:nth-child(2):hover { color: var(--rosa); }    /* BB TRICKZ */
.linea:nth-child(4) .palabra:nth-child(1):hover { color: var(--rosa); }    /* METRIKA */
.linea:nth-child(4) .palabra:nth-child(2):hover { color: var(--verde); }   /* DISOBEY */
.linea:nth-child(4) .palabra:nth-child(3):hover { color: var(--rosa); }    /* GRECAS */
.linea:nth-child(5) .palabra:nth-child(1):hover { color: var(--verde); }   /* AGUSFORNITE2008 & STIFFY */
.linea:nth-child(6) .palabra:nth-child(1):hover { color: var(--rosa); }    /* GRETA */
.linea:nth-child(6) .palabra:nth-child(2):hover { color: var(--rosa); }    /* L'HAINE */
.linea:nth-child(7) .palabra:nth-child(1):hover { color: var(--verde); }   /* LABLACKIE */
.linea:nth-child(7) .palabra:nth-child(2):hover { color: var(--rosa); }    /* JOHN TALABOT */
.linea:nth-child(8) .palabra:nth-child(1):hover { color: var(--rosa); }    /* MERITXELL DE SOTO */
.linea:nth-child(8) .palabra:nth-child(2):hover { color: var(--verde); }   /* MVRK */
.linea:nth-child(9) .palabra:nth-child(1):hover { color: var(--verde); }   /* Flor */
.linea:nth-child(9) .palabra:nth-child(2):hover { color: var(--rosa); }    /* NUSAR3000 */
.linea:nth-child(9) .palabra:nth-child(3):hover { color: var(--verde); }   /* ROJUU */
.linea:nth-child(10) .palabra:nth-child(1):hover { color: var(--rosa); }   /* STICKY M.A. */
.linea:nth-child(11) .palabra:nth-child(1):hover { color: var(--verde); }  /* AZULEJA */
.linea:nth-child(11) .palabra:nth-child(2):hover { color: var(--rosa); }   /* ALIZZZ */
.linea:nth-child(12) .palabra:nth-child(1):hover { color: var(--rosa); }   /* OUINETA */
.linea:nth-child(12) .palabra:nth-child(2):hover { color: var(--verde); }  /* BARRY B */
.linea:nth-child(13) .palabra:nth-child(1):hover { color: var(--verde); }  /* CALA VENTO */
.linea:nth-child(13) .palabra:nth-child(2):hover { color: var(--rosa); }   /* EL BUGG */
.linea:nth-child(13) .palabra:nth-child(3):hover { color: var(--verde); }  /* CARIÑO */
.linea:nth-child(14) .palabra:nth-child(1):hover { color: var(--rosa); }   /* VERUSHKA */
.linea:nth-child(15) .palabra:nth-child(1):hover { color: var(--verde); }  /* JOKKOO COLLECTIVE */
.linea:nth-child(16) .palabra:nth-child(1):hover { color: var(--rosa); }   /* MARIA JAUME */
.linea:nth-child(17) .palabra:nth-child(1):hover { color: var(--rosa); }   /* PARKINEOS */
.linea:nth-child(17) .palabra:nth-child(2):hover { color: var(--verde); }  /* MAINLINE CLUB */
.linea:nth-child(18) .palabra:nth-child(1):hover { color: var(--rosa); }   /* DILLOM */
.linea:nth-child(19) .palabra:nth-child(1):hover { color: var(--verde); }  /* REMEI DE CA LA FRESCA */
.linea:nth-child(20) .palabra:nth-child(1):hover { color: var(--rosa); }   /* TEO LUCADAMO */
.linea:nth-child(21) .palabra:nth-child(1):hover { color: var(--verde); }  /* EL PETIT DE CAL ERIL */
.linea:nth-child(22) .palabra:nth-child(1):hover { color: var(--rosa); }   /* MUJERES */









/* RESPONSIVE */

/* ADAPTACION GENERAL */
@media (max-width: 900px) {
  .menu {
    gap: 10px;
  }

  .menu a {
    font-size: 0.85rem;
  }

  .languages a {
    font-size: 0.85rem;
  }

  .newsletter-btn {
    padding: 6px 16px;
    font-size: 0.8rem;
  }

  .light-btn {
    padding: 2px 15px;
    font-size: 0.9rem;
  }

  .logo-movimiento {
    padding: 80px 30px 30px; /* Ajusta según tu necesidad */
  }

  .linea-negra {
    height: 15px;
    background-color: black;
    margin: 40px 30px 40px;
  }

  .palabras-container {
      gap: 0px;
      padding: 0px 30px;
  }

  .palabras-container .palabra {
      font-size: 40px;
  }
}



/* TABLET Y MÓVIL */
@media (max-width: 700px) {
  .menu {
    display: none;
  }

  .barra {
    justify-content: center;
    padding: 0 20px;
    height: 60px;
  }

  .logo {
    position: absolute;
    left: 20px;
    z-index: 110;
  }

  .nav-right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .burger {
    display: block;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
  }

  .hero {
    height: calc(100vh - 60px);
  }

  .hero img {
    width: 100%;
    height: 100%;
    max-height: calc(100vh - 60px);
    object-fit: cover;
  }

  .countdown {
    flex-wrap: wrap;
    gap: 30px;
    padding: 0;
    margin: 0;
  }

  .count-item .number {
    font-size: 1.8rem;
  }

  .logo-movimiento {
    padding: 40px 20px 5px; /* Ajusta según tu necesidad */
  }

  .linea-negra {
    height: 7px;
    background-color: black;
    margin: 40px 20px 40px;
  }

  .palabras-container {
      gap: 5px;
      padding: 0px 20px;
  }

  .palabras-container .palabra {
      font-size: 30px;
  }

    /* Alternancia izquierda-derecha */
    .palabras-container .linea:nth-child(odd) { justify-content: flex-start; }
    .palabras-container .linea:nth-child(even) { justify-content: flex-end; }
}








/* Animaciones limpias y sin rebote */
@keyframes slideInLeft {
  0% {
    opacity: 1;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  0% {
    opacity: 1;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Aparición escalonada */
.category:nth-child(1) {
  animation-delay: 0.3s;
}
.category:nth-child(2) {
  animation-delay: 0.9s;
}
.category:nth-child(3) {
  animation-delay: 1.5s;
}
.category:nth-child(4) {
  animation-delay: 2.1s;
}

/* RESPONSIVE */
@media (max-width: 760px) {
  .categories {
    gap: 20px;
    margin: 20px 0px 0px 0px;
  }
  .category {
    height: 12vh;
    font-size: 2.5rem;
  }
}